 <!doctype html>
<html lang="<%= meta.LANG %>">
  <head>
	<% include ../templates/head.ejs %>
   </head>
<body class="nav-md layout">

    <div class="container body">
      <div class="main_container">


<div class="right_col" role="main" id="layout-viewport">
  Hellow Wolrd
</div>

<% include ../templates/footer.ejs %>
      </div>
    </div>
	<% include ../templates/javascript-footer.ejs %>
</body>
</html>

